{{define "head"}}{{end}}

{{define "content"}}
<div>
    <h1>Kategorie zdjec</h1>
    <div id="items"></div>
</div>
{{end}}
{{define "script"}}
<script>
    const items = document.getElementById("items")

    runAsync(async() => {
        const response = await fetch('/v1/gallery/categories')
        if (!response.ok) {
            alert(await response.text())
            return
        }
        const data = await response.json()
        data.forEach(item => {
            const a = document.createElement('a')
            a.setAttribute("href", `/v1/panel/manage/${item.id}`)
            a.append(document.createTextNode(`ID: ${item.id}, ${item.display_name}`))
            items.appendChild(a)
            items.appendChild(document.createElement("br"))
        })
    })
</script>
{{end}}